@font-face {
    Font-family: Montserrat-thin;
    Src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
    Font-family: Montserrat-regular;
    Src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'fontawesome';
    src: url("../fonts/fontAwesome/FontAwesome.otf");
    src: url("../fonts/fontAwesome/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontAwesome/fontawesome-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font-family: fontawesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
    cursor: pointer;
}

html {
    Color: #606060;
    Line-height: 1.25
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

header {
    background: orange;
    height: 130px;
    color: #fff;
}

.search-bar {
    margin-bottom: 20px;
}

.logo {
    flex: 1;
    padding-left: 5px;
}

.nav-buttons li a {
    display: flex;
    width: 7rem;
    justify-content: center;
    height: 130px;
    align-items: center;
}

.nav-buttons li {
    border-left: 1px solid #1e1e1e;
    display: flex;
    align-items: center;
}

.nav-buttons li:last-child {
    border-right: 1px solid #1e1e1e;
}

.search-input {
    margin-right: 100px;
}

.keyword {
    margin-right: 50px;
}

.canvas-container {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    height: 100%;
}

.my-canvas {
    margin: 20px auto;
    border: 1px solid blue;
    /* margin: 0; */
    margin-right: 20px;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
}

.css-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    width: 70%;
    height: 30px;
}

.css-input:focus {
    outline: none;
}

.html5colorpicker {
    margin-right: 19px;
    width: 60px;
    height: 60px;
}

.editor-btn {
    width: 60px;
    height: 60px;
    padding: 0;
    margin-right: 19px;
    border-radius: 10px;
}

.editor-btn img {
    width: 39px;
    height: 38px;
}

/* helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 980px;
}

.controllers-container {
    height: 500px;
    justify-content: space-between;
    WIDTH: 50%;
}

.column {
    flex-direction: column;
}

.btn {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #bb771e 5%, #cc7421 100%);
    background-color: #ff0000;
    border-radius: 10px;
    border: 1px solid #fd0000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    height: 35px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #918f8f;
    margin: 0.5rem;
    width: 120px;
    font-size: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn:hover {
    background: linear-gradient(to bottom, #b37f0f 5%, #a3550c 100%);
    background-color: #8d6c47;
}

.btn:active {
    position: relative;
    top: 1px;
}

@media (max-width: 1000px) {
    .container {
        max-width: 750px;
        height: 100%;
    }
    .canvas-container {
        flex-direction: column;
        align-items: center;
    }
    .my-canvas {
        margin-bottom: 10px;
    }
    .controllers-container {
        margin-top: 10px;
    }
    .css-input {
        width: 95%;
        height: 40px;
    }
}

@media (max-width: 740px) {
    .open.toggle-menu-screen {
        display: block;
        background: rgba(42, 42, 42, 0.8);
        z-index: 100;
        position: fixed;
        width: 100vw;
        height: 101vh;
        left: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
    }
    .keywords-search {
        width: 100%;
        margin-left: 10px;
        justify-content: center;
    }
    .nav-buttons.open {
        transform: translate(10, 10);
        width: 120px;
        background: #ff7f00;
        z-index: 300;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 101vh;
        border-left: 1px solid black;
    }
    .my-canvas {
        width: 250px;
        height: 250px; 
    }
    .open li {
        border-left: none;
        border-right: none;
    }
    .nav-buttons li:last-child {
        border-right: none;
    }
}