@font-face {
    Font-family: Montserrat-thin;
    Src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
    Font-family: Montserrat-regular;
    Src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'fontawesome';
    src: url("../fonts/fontAwesome/FontAwesome.otf");
    src: url("../fonts/fontAwesome/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontAwesome/fontawesome-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font-family: fontawesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

html {
    Color: #606060;
    Line-height: 1.25
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

header {
    background-color: #ff7f00;
    height: 130px;
    color: #fff;
    margin-bottom: 10px;
}

.search-bar {
    margin-bottom: 20px;
    justify-content: space-around;
}

.search-img-input {
    border-radius: 5px;
}

.image-gallery>div {
    margin-bottom: 10px;
}

.logo {
    flex: 1;
    padding-left: 5px;
}

.images-list {
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.images-list>li {
    text-align: center;
}

.keyword {
    cursor: pointer;
}

.keyword:nth-child(2) {
    font-size: larger;
}

.keyword:last-child {
    font-size: x-large;
}

.nav-buttons a.active {
    border-bottom: 6px solid #ffa44a;
    ;
    color: #ffffff;
    cursor: default;
}

.logo img {
    width: 150px;
    border-radius: 10px;
}

.secondary-logo img {
    width: 150px;
    border-radius: 10px;
}

.img-gallery {
    width: 150px;
    border-radius: 10px;
}

.editor {
    height: 100vh
}

.canvas-container {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    height: 100%;
}

.my-canvas {
    margin: 20px auto;
    border: 1px solid blue;
    width: 500px;
    height: 500px;
    margin: 0;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 980px;
}

.nav-buttons li a {
    font-family: Montserrat-regular, sans-serif;
    font-size: 1.1875rem;
    display: flex;
    width: 7rem;
    justify-content: center;
    height: 130px;
    align-items: center;
    color: #e70909;
    ;
}

.nav-buttons li {
    border-left: 1px solid #1e1e1e;
    display: flex;
    align-items: center;
}

/* .nav-buttons li:last-child {
    border-right: 1px solid #1e1e1e;
} */

.search-input {
    /* margin-right: 100px; */
    height: 25px;
}

.keyword {
    margin-right: 50px;
}

footer {
    width: 100%;
    height: 207px;
    background-color: #ff7f00;
    justify-content: center;
}

h3 {
    font-size: 1.1875rem;
    font-family: Montserrat-thin, sans-serif;
    color: white;
}

@media (max-width: 1000px) {
    .container {
        max-width: 750px;
        height: 100%;
    }
    .img-gallery {
        display: block;
    }
    .language {
        margin-right: 30px;
    }
}

@media (max-width: 740px) {
    .toggle-menu-btn {
        display: block;
    }
    .img-gallery {
        width: 133px;
        display: inline;
    }
    .search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        justify-content: center;
    }
    .images {
        text-align: center;
    }
    .nav-buttons {
        display: none;
    }
    .language {
        order: -1;
        align-self: end;
        margin-left: 15px;
    }
}

.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

.language-icon {
    width: 30px;
    cursor: pointer;
}

.keywords-search {
    flex: 1;
}

.language {
    display: flex;
    align-items: center;
}

@media (max-width: 740px) {
    .toggle-menu-screen.open {
        display: block;
        background: rgba(42, 42, 42, 0.8);
        z-index: 100;
        position: fixed;
        width: 100vw;
        height: 101vh;
        left: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
    }
    .keywords-search {
        width: 100%;
        margin-left: 10px;
        justify-content: center;
    }
    .nav-buttons.open {
        transform: translate(10, 10);
        width: 120px;
        background: #ff7f00;
        z-index: 300;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 101vh;
        border-left: 1px solid black;
    }
    .my-canvas {
        width: 250px;
        height: 250px;
    }
    .open li {
        border-left: none;
        border-right: none;
    }
    .nav-buttons li:last-child {
        border-right: none;
    }
}

.gallery.he {
    border-right: 1px solid black;
}

.about.he {
    border-right: none;
}

.about.en {
    border-right: 1px solid black;
}